.container {
    width: auto;
    margin: 0;
    padding: 60px;

    @include tablet {
        padding: 40px;
    }

    &__inner {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
    }
}

h1 {
    color: $color--black;
    font-family: $sans;
    font-size: 60px;
    font-weight: normal;
    line-height: 1.5;
}
