  
  .carousel {
    width: 100%;
  }
  
  .item {
    align-items: center;
    background-color: tomato;
    color: white;
    display: flex;
    height: 500px;
    justify-content: center;
    margin-bottom: 20px;
  }
  