  
  .skills {
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;

    p {
        margin-bottom: 0;
        padding-left: 1rem;
    }
  }

  .skills-icon {
    width: 60px;
    height: 60px;
    min-width: 60px;
    border-radius: 60px;
    background: $color-primary;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    svg {
        fill: $color-white;
        width: auto;
        height: 30px;
    }
}

.software {
    li {
        display: flex;
        align-items: center;
        color: $color-black;
        font-family: $sans;
        line-height: 25px;
        font-weight: normal;
        line-height: 1.75;
        margin-bottom: 15px;

        @include tablet {
            font-size: 16px;
        }
    }
    svg {
        width: 25px;
        height: 25px;
        padding-right: 10px;
    }
}

.arrow {
    width: 30px;
    margin: 0 auto;

    svg {
        width: 30px;
        height: auto;
    }
}


  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  