  
  .skills {
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;

    p {
        margin-bottom: 0;
        padding-left: 1rem;
    }
  }

  .skills-icon {
    width: 60px;
    height: 60px;
    min-width: 60px;
    border-radius: 60px;
    background: $color-primary;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    svg {
        fill: $color-white;
        width: auto;
        height: 30px;
    }
}
  