.push-bottom {
    margin-bottom: $padding-mobile;

    &_half {
        margin-bottom: 0.5*$padding-mobile;
    }
}

.hard-bottom {
    margin-bottom: 0;
}

.is-white {
    color: $color-white;
}

.is-primary {
    color: $color-primary;
}

.is-secondary {
    color: $color-secondary;
}

.is-tertiary {
    color: $color-tertiary;
}

.arrow {
    width: 30px;
    margin: 0 auto;

    svg {
        width: 30px;
        height: auto;
    }
}


  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  .button {
      border-radius: 4px;
      background: $color-secondary;
      color: $color-white;
      text-decoration: none;
      font-family: $sans;
      padding: 15px 30px;
      font-size: 14px;
      font-weight: normal;
  
      @include tablet {
          font-size: 16px;
      }

      &:hover {
          background: darken($color-secondary, 10%);
          transition: 0.2s;
      }
  }