h1 {
    color: $color-black;
    font-family: $sans;
    font-size: 40px;
    font-weight: normal;
    line-height: 1.5;

    @include tablet {
        font-size: 60px;
    }
}

p {
    color: $color-black;
    font-family: $sans;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.75;
    margin-bottom: 12px;

    @include tablet {
        font-size: 14px;
    }

    &.is-title {
        font-family: $sans;
        opacity: 0.6;
    }
}